.home {
}

.home-slideshow--imgshow {
  opacity: 1 !important;
}

.home-slideshow {
  background-color: var(--color-black);
}

.home-slideshow__banner {
  position: relative;
  width: 100%;
  height: 880px;
}

.home-slideshow__bg--black {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: linear-gradient(to bottom right, rgb(0, 0, 0), transparent);
  opacity: 0.6;
}

.home-slideshow__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

@keyframes hide-truoc {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide-sau {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.home-slideshow__content {
  position: absolute;
  width: var(--width-page);

  top: 40%;
  left: 50%;
  transform: translateX(-50%);

  color: var(--color-white);
}

.home-slideshow__title {
  font-size: 5.2rem;
  font-weight: 900;
}

.home-slideshow__text {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 80px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  max-width: 500px;

  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}

.home-slideshow__link {
  padding: 17px 35px;
  border-radius: 25px;

  font-size: 1.7rem;
  font-weight: 700;

  transition: all 0.3s;
  color: var(--color-white);
  background-color: var(--color-origin);
}

.home-slideshow__link:hover {
  background-color: black;
}

.home-slideshow__list {
  display: flex;
  gap: 10px;
  margin-top: 300px;
}

.home-slideshow__item {
  cursor: pointer;
}

.home-slideshow__itembtn--active {
  background-color: var(--color-origin) !important;
}

.home-slideshow__itembtn {
  width: 14px;
  height: 14px;

  border-radius: 50%;

  background-color: var(--color-white);
}
