:root {
  /* Color */
  --color-white: #fff;
  --color-gray: #9e9e9e;
  --color-black: #282828;
  --color-blue: #2196f3;
  --color-green: #4caf50;
  --color-red: #f44336;
  --color-red-white: #ffdddd;
  --color-yellow: #ffeb3b;
  --color-yellow-white: #ffffcc;
  --color-orange: #ff9800;
  --color-orange-light: #ffc107;
  --color-bg-submenu: #282828;
  --color-origin: #ffa018;
  --color-icon-fb: #1877f2;
  --color-icon-ytb: #ff0000;
  --color-line: #d3d3d3;

  /* Font */
  --font-family: "Roboto", sans-serif;

  /* Width | Height */
  --width-page: 1170px;
}
